.number-row{
    /* border: 1px solid #dddddd;
    height: 40px;
    width: 187px;
    line-height: 34px;
    padding-left: 10px; */
    display: flex;
}
.quantity{
    border: 1px solid #dddddd;
    height: 40px;
    width: 187px;
    line-height: 34px;
    padding-left: 10px;    border: 1px solid #dddddd;
    text-align: center;
}

.inc{
    margin: 9px -21px;
    width: 30px;
    height: 22px;
    cursor: pointer;
}
.dec{
    margin: 9px -155px;
    width: 30px;
    height: 22px;
    cursor: pointer;
}
.transparent-input {
    background-color: rgba(255, 255, 255, 0.5); /* Màu trắng có độ trong suốt 50% */
    border: 1px solid #ccc; /* Border có thể thêm để tạo đường viền cho input */
    padding: 10px; /* Có thể thay đổi padding tùy ý */
    color: #333; /* Màu chữ */
}